// http://www.awwwards.com/trendy-web-color-palettes-and-material-design-color-schemes-tools.html
$color-1: #6ed3cf;
$color-1-shade: darken($color-1, 10);
$color-1-tint: lighten($color-1, 10);

$color-2: #FF7100;
$color-2-shade: darken($color-2, 10);
$color-2-tint: lighten($color-2, 10);

$color-3: #e1e8f0;
$color-3-shade: darken($color-3, 10);
$color-3-tint: lighten($color-3, 10);

$color-4: #e62739;
$color-4-shade: darken($color-4, 10);
$color-4-tint: lighten($color-4, 10);

$color-white: #fff;

// FONT
$font-color: #5a5a5a;
$font-color-light: lighten($font-color, 30);
$font-size: 14px;
$font-family: 'Roboto', sans-serif;
$fw-normal: 400;
$fw-bold: 700;
