@import "variables";

ul.event-items-list {
	li {
		box-sizing: border-box;
		border: 2px solid $color-1-shade;
		border-radius: 10px;
		padding: 15px;
		background-color: $color-white;

		& + li {
			margin-top: .5em;
		}
	}

	.item {
		display: flex;
		justify-content: space-between;
		align-items: center;

		img {
			width: 50px;
			height: 50px;
		}
	}

	.info {
		width: 100%;
		padding: 0 1em;
		span {
			display: block;
			width: 100%;
		}
		.name {
			font-size: 1.5em;
			font-weight: $fw-bold;
		}
	}

	.score {
		font-size: 2em;
		font-weight: $fw-bold;
	}
}