@import "mixins/container";
@import "mixins/page-container";

.event {
	@include page-container();

	.container {
		@include container();
	}

	.event-header {
		display: flex;
		justify-content: space-between;
	}

	.btn {
		margin-top: 1em;
	}
}