@import "mixins/container";
@import "variables";

.app-container {
	& > header {
		padding: 10px 15px;
		border-bottom: 1px solid $font-color-light;
		box-shadow: 0px 1px 0px 0px rgba(90,90,90,0.90);
		letter-spacing: .5px;
	}

	.header-content {
		max-width: 768px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		.title {
			font-size: 14px;
			font-weight: $fw-bold;

			@media only screen and (min-device-width: 769px) {
				font-size: 24px;
			}

		}

		.logout {
			font-size: 12px;
			color: $color-2;
		}
	}
}