@import "mixins/container";
@import "mixins/page-container";

.dashboard {
	@include page-container();

	.container {
		margin: 0 auto;
		max-width: 768px;
	}

	.dashboard-list {
		margin-top: 1em;
	}
}